[submodule ".vim/bundle/vim-closetag"]
	path = .vim/bundle/vim-closetag
	url = git@github.com:alvan/vim-closetag.git
[submodule ".vim/bundle/gruvbox"]
	path = .vim/bundle/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule ".vim/bundle/SimpylFold"]
	path = .vim/bundle/SimpylFold
	url = git@github.com:tmhedberg/SimpylFold.git
[submodule ".vim/bundle/vim-template"]
	path = .vim/bundle/vim-template
	url = git@github.com:aperezdc/vim-template.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
	branch = master
