!-----------------------------
! URXVT
!-----------------------------
urxvt*scrollBar: false
urxvt*font: xft:Hack:size=9
urxvt*letterSpace: 0
urxvt*depth: 32
urxvt*geometry: 90x30
urxvt*internalBorder: 4

!-----------------------------
! COLORS
!-----------------------------

! Solarized Common
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

! Light Definitions
#define S_base03        #fdf6e3
#define S_base02        #eee8d5
#define S_base01        #93a1a1
#define S_base00        #839496
#define S_base0         #657b83
#define S_base1         #586e75
#define S_base2         #073642
#define S_base3         #002b36

! Color declarations
*background:              S_base03
*foreground:              S_base3
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color9:                  S_orange
*color8:                  S_base03
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3

!-----------------------------
! ROFI THEME
!-----------------------------
rofi.matching: fuzzy

rofi.color-enabled: true
rofi.show-icons: true
rofi.drun-icon-theme: Papirus-Color
rofi.columns: 3
rofi.font: Helvetica CE 10
rofi.bw: 4
rofi.padding: 8
!                  BG       	FG       	BG-ALT		HLBG		HLFG
rofi.color-window: S_base03,	S_base02,	S_base03
rofi.color-normal: S_base03,	S_base0,	S_base03,	S_base0,	S_base03
rofi.color-active: S_base03,	S_blue,		S_base02,	S_blue,		S_base03
rofi.color-urgent: S_base03,	S_yellow,	S_base02,	S_yellow,	S_base03

rofi.width: 48

