!-----------------------------
! urxvt configuration
!-----------------------------
urxvt*scrollBar: false
!urxvt*font: xft:Terminus:size=9,xft:Inconsolata\ for\ Powerline:size=10
!urxvt*font: xft:Hack:size=9,xft:PowerlineSymbols:size=9
urxvt*font: xft:xos4 Terminus:size=9
urxvt*letterSpace: 0
!urxvt*font: xft:Hack Regular:size=9
urxvt*depth: 32
!urxvt*background: rgba:1d1d/2020/2121/5000

!-----------------------------
! ROFI Theme
! 
!-----------------------------
rofi.color-enabled: true
rofi.font: xos4 Terminus 9
rofi.bw: 4
!                  BG       FG       BG-ALT   HLBG       HLFG
rofi.color-window: #282828, #83a598, #282828
rofi.color-normal: #282828, #ebdbb2, #32302f, #BB83a598, #282828
rofi.color-active: #282828, #458588, #32302f, #BB458588, #282828
rofi.color-urgent: #282828, #d79921, #32302f, #BBd79921, #282828

rofi.width: 30
!-----------------------------
! Colors merged from Gruvbox-Dark
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
!-----------------------------

! hard contrast: 
! *background: #1d2021
*background: #282828
*bg2: #32302f
*bg3: #504945
*bg4: #665c54

*foreground: #ebdbb2
*fg2: #d5c4a1
*fg3: #bdae93
*fg4: #a89984

! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! Additional background colors

