!-----------------------------
! urxvt configuration
!-----------------------------
urxvt*scrollBar: false
!urxvt*font: xft:Terminus:size=9,xft:Inconsolata\ for\ Powerline:size=10
urxvt*font: xft:Hack:size=9,xft:PowerlineSymbols:size=9
urxvt*letterSpace: -1
!urxvt*font: xft:Hack Regular:size=9
!urxvt*depth: 32
!urxvt*background: rgba:2828/2828/2828/c800
 
!-----------------------------
! ROFI Theme
! 
!-----------------------------
rofi.color-enabled: true
rofi.font: Overpass 12
!                  BG       FG       BG-ALT   HLBG       HLFG
rofi.color-window: #1d2021, #1d2021, #1d2021
rofi.color-normal: #1d2021, #ebdbb2, #282828, #BB98971a, #1d2021
rofi.color-active: #1d2021, #458588, #282828, #BB458588, #1d2021
rofi.color-urgent: #1d2021, #d79921, #282828, #BBd79921, #1d2021

rofi.width: 30
!-----------------------------
! Colors merged from Gruvbox-Dark
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
!-----------------------------

! hard contrast: 
*background: #1d2021
! medium contrast
*background_med: #282828
! soft contrast
*background_soft: #32302f

*bg2: #504945
*bg3: #665c54

*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! Additional background colors

